<div id="imgsign">
<img src="https://www.silverbirdsafari-africa.com/blog/wp-content/uploads/2015/12/Italy.jpg" width=100% height=100%></div>
<div id="clearance" class="sign-in">
  <h2><%= t(".title") %></h2>

  <%= render partial: '/sessions/form' %>

</div>
