<head><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Airbnb_Logo_B%C3%A9lo.svg/2000px-Airbnb_Logo_B%C3%A9lo.svg.png" width="450" height="100">

</head>

			<link rel="icon" type="image/png" href="https://s3.amazonaws.com/freebiesupply/large/2x/airbnb-logo.png">

<body>
	<div id="first">

<h1>Listings in Airbnb</h1>
<p>
Discover entire homes and private rooms perfect for any trip.
</p>

<%= link_to "Create", new_listing_path, class:"btn btn-danger"%>

</div>

<%= link_to "Sign in with Facebook", "/auth/facebook"%>

</body>

