

<body>

<div class="reserveaftertext">
<%= @listing.location %>
<%= link_to "Make Payment", braintree_new_path, class: "btn btn-success" %>
<%= link_to "Go Back", root_path, class:"btn btn-danger"%>
</div>
</body>