<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! You have received a booking from <%= @customer.name %></h1>
    <p>
      You can see details of your new reservation here:<a href="http://localhost:3000"><%= @url %></a> 
    </p>
  </body>
</html>