// Place all the styles related to the Create_Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	font-family: monospace;	
	color: black;

	}

img {
	float: right;
}

div#signoutbutton{
	float: right;
}

div#first {
	text-align: center;
}
div.sign-in {
	border-style: none;
	text-align: center;
	background-color: lightgrey;
	color: white;
    text-shadow: 2px 2px 4px #000000;
	font-family: monospace;
	background-size: auto;
	box-shadow: 5px 5px;
	padding: 15px 15px;
}

div.newform {
	margin-left: 100px; 
	margin-right: 500px;
	padding-left: 50px;
	border: 1px solid;
	box-shadow: 5px 10px #888888;
}

body.homepage {

}

div.backgroundimagehome {
		background-image: url('https://steemit-production-imageproxy-upload.s3.amazonaws.com/DQmdsT3GyVDZh1up6NyfvtYos4kFtot1Zt8sUoMzLRd56cj');
			background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.5;
}

span#airbnbnb {
	font-size: 50px;
	color:  #ff5a5e;
	font-family: Arial;
	font-weight: 700;
}

p#welcomehome{
	font-size: 50px;
	color: #3a3537;
	font-family: Arial;
	font-weight: 500;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}


div.searchbar{
	font-size: 25px;
		margin-left: 250px;
	margin-top: 50px;
}

h1.listingindex {
	font-size: 50px;
	color: #3a3537;
	font-family: Arial;
}

div#signinbutt {
	text-shadow: 2px 2px 4px #888888;
	color: #ff5a5e;
}

div#signinbutt:hover {
	color: black;
}

div#listofall {
	display: inline-block;
	border: none;
	box-sizing: content-box;    
    width: 300px;
    height: 450px;
    padding: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 3%;
	float: left;	

}

div.listallbutton {
	text-align: center;
	padding: 15px;
}

div#editfirst{
	margin-left: 100px; 
	margin-right: 500px;
	padding-left: 50px;
	border: 1px solid;
	box-shadow: 5px 10px #888888;
}

div.listimage:hover {
	opacity:0.5;
	webkit-transition-duration:0.5s;
	transition-duration:0.5s;

}

// .carousel.carousel-fade .item {
//     -webkit-transition-duration:0.5s;
// 	transition-duration:0.5s;
// }


.carousel {
	interval:30;
}
.carousel-item img {
		opacity: 0.5;
}

img.d-block.img-fluid {
	height: 450px;
	width: 100%;
}

div.createbutton {
	text-align: center;
	margin: 50px,50px;
}

nav.pagination {
	bottom: 0;
}

